<!doctype html>
<html lang="en" data-framework="marionettejs">
	<head>
		<meta charset="utf-8">
		<title>Checklist</title>
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="vendor/css/bootstrap.min.css">
	</head>
	<body>
		<section id="app" class="container">
			<header id="header"></header>
			<section id="main"></section>
			<footer id="footer"></footer>
		</section>
		<script type="text/html" id="template-header">
			<h1>CheckList</h1>
			<input class="form-control" id="new-task" placeholder="Enter new task" autofocus>
		</script>
		<script type="text/html" id="template-taskListView">
			<input id="toggle-all" type="checkbox">
			<label id="toggle-all-label" for="toggle-all">Check All</label>
			<ul></ul>
		</script>
		<script type="text/html" id="template-taskItemView">
			<div class="view">
				<div class="input-group">
      		<span class="input-group-addon">
						<input class="toggle" type="checkbox" <% if (finished) { %>checked<% } %>>
      		</span>
					<input class="form-control edit" value="<%- description %>">
					<span class="input-group-addon">
						<button class="destroy"></button>
					</span>
    		</div>
			</div>
		</script>
		<script type="text/html" id="template-footer">
			<span id="task-count">
				<strong><%= doingCount %></strong> <%= doingCountLabel() %>
			</span>
			<ul id="filters">
				<li class="all">
					<a class="btn btn-default" href="#/">All</a>
				</li>
				<li class=" doing">
					<a class="btn btn-default" href="#/doing">In Progress</a>
				</li>
				<li class="finished">
					<a class="btn btn-default" href="#/finished">Finished</a>
				</li>
			</ul>
			<button class="btn btn-default" id="clear-finished" <% if (!finishedCount) { %>class="hidden"<% } %>>Clear finished</button>
		</script>
		<!-- vendor libraries -->
		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="node_modules/underscore/underscore.js"></script>
		<script src="node_modules/backbone/backbone.js"></script>
		<script src="node_modules/backbone.radio/build/backbone.radio.js"></script>
		<script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>
		<script src="vendor/js/bootstrap.min.js"></script>
		<!-- application -->
		<script src="js/application.js"></script>
		<script src="js/task.js"></script>
		<script src="js/layouts.js"></script>
		<script src="js/views.js"></script>
		<script src="js/router.js"></script>
		<script src="js/filter.js"></script>
		<script src="js/checklist.js"></script>
	</body>
</html>
